<div *ngIf="show==true; else elseBlock">
    <app-loading [show]=show></app-loading>
</div>
<ng-template #elseBlock>
    <div class="modalContainer" [style]="{'display': (this.displayStatus==true)?'flex':'none'}">
        <div class="modalBoxContainer">
            <h4>Edit Camera Details</h4>
            <form action="" [formGroup]="editCameraForm">
                <label>Camera Name</label>
                <input type="text" formControlName="cameraname" placeholder="Enter Camera Name"
                    [(ngModel)]="cameraname">
                <label>ipAddress</label>
                <input type="text" placeholder="Enter IPName" formControlName="ipaddress" [(ngModel)]="ipaddress">
                <label>Department</label>
                <input type="text" placeholder="Enter Location" formControlName="department"
                    [(ngModel)]="department">
                <button (click)="editDone()">Edit</button>
            </form>
        </div>
    </div>
    <app-header name={{name}}></app-header>
    <div *ngIf="showSideBar==true">
    <app-sidebar2></app-sidebar2>
</div>
    <app-error errorMessage="{{errorMessage}}" displayStatus="{{errorDisplayStatus}}" (retryBtn)="retry()"></app-error>
    
    <div class="viewCameraContainer" [style]="{'margin-left': (this.showSideBar==false)?'0px':'65px'}">
        <!-- <a routerLink='/addCamera' class="addShowroom">Add Camera </a> -->
        
       
        <!-- <p *ngIf="check==true && check !=undefined ; else elseBlock">Camera is working</p> -->
        <ng-template #elseBlock>dkfdsfd</ng-template>
        <!-- <a routerLink='/addCamera' class="addShowroom">Add Camera </a> -->
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Camera Name</th>
                    <th scope="col">IP Name</th>
                    <th scope="col">Department</th>
                    <th scope="col">Location</th>
                    <th scope="col">Geo Fencing</th>
                    <th scope="col">check Camera</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Delete</th>
                </tr>
            </thead>
            <!-- <tbody>
            <tr *ngFor="let data of datas; index as i">
                <th>{{ i + 1 }}</th>
                <td>
                    <p>{{data.cameraName}}</p>
                </td>
                <td>{{ data.IPName }}</td>
                <button class="btn btn-outline-secondary"
                    (click)="geoFencing('https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__480.jpg')">Geo
                    Fencing</button>
            </tr>
        </tbody> -->
        </table>
        <div class="dataContainer"  *ngFor="let data of datas | paginate :{
            itemsPerPage:5,
            currentPage:page,
            totalItems:totalRecords }">
            <p>{{data.cameraname}}</p>
            <p>{{ data.ipaddress }}</p>
            <p>{{data.department}}</p>
            <img [src]="ip+'/getImage/'+data.img" alt="">
            <button class="geoFencing" (click)="geoFencing(data)">Geo
                Fencing</button>
            <p>{{data.cam_status}}</p>
            <!-- <button class="checkCamera" (click)="checkCamera()">Check Camera</button> -->
            <fa-icon class="edit" (click)="editCamera(data)" [icon]="faEdit"></fa-icon>
            <fa-icon class="delete" (click)="deleteCamera(data)" [icon]="faTrash"></fa-icon>
        </div>
        <p class="error" [ngStyle]="{background:color}">{{check}}</p>
        <pagination-controls class="pageControls" (pageChange)="page= $event"></pagination-controls>
    </div>
</ng-template>