<div *ngIf="show==true; else elseBlock">
    <app-loading [show]=show></app-loading>
</div>
<ng-template #elseBlock>
    <!-- <app-header name="Admin"></app-header> -->
    <div (click)="hideModle($event)" [ngStyle]="{'display': (showImg=='true') ?'block' : 'none'}">
        <app-zoom imgUrl="{{imgUrl}}"></app-zoom>
    </div>
    <div class="superAdminContainer">
        
        <div (click)="hide($event)" class="modalContainer"
            [style]="{'display': (this.displayStatus==true)?'flex':'none'}">
            <div class="modalBoxContainer">
                <img [src]="ip+'/getNumberplate/'+npImg" alt="">
                <form action="" class="editNumberPlate" [formGroup]="editNo">
                    <p>Before:: {{this.numberPlate}}</p>
                    <input [(ngModel)]="this.numberPlate" class="editinput" type="text" formControlName="number">
                </form>
                <button class="done" (click)="done()">Done</button>
                <!-- <div class="controls">
                    <fa-icon class="previous" (click)="previous()" [icon]="faArrowLeft"
                        [style]="{'display': (this.displayPreBtn==true)?'block':'none'}"></fa-icon>
                    <fa-icon (click)="next()" class="next" [icon]="faArrow"
                        [style]="{'display': (this.displayNextBtn==true)?'block':'none'}"></fa-icon>
                </div> -->
            </div>
        </div>
        <app-header name="SuperAdmin"></app-header>
        <!-- <div class="selector">
            <p routeLink="/" class="four">Add Showroom</p>
        </div> -->
        <div class="">
            <button class="startBtn" (click)="start()"
            [ngStyle]="{'background-color': (startANPR==true) ? '#7acd21' : 'red'}"
            >{{btnName}}</button>
            <h5>{{showroomName}}</h5>
        </div>
        <div class="headingContainer">
            <p scope="col">Vehicle Img </p>
            <p scope="col">NoPlate Img </p>
            <p scope="col">Vehicle No</p>
            <p scope="col">Date</p>
            <p scope="col">Entry Time</p>
            <p scope="col">Exit Time</p>
            <p scope="col">Edit</p>
</div>
        <div class="dataContainer" *ngFor="let image of datas | paginate :{
            itemsPerPage:4,
            currentPage:page,
            totalItems:totalRecords }">
        
                <img (click)="bigImage(image)" [src]="ip+'/getNumberplate/'+image.NP_img_path" alt="">
                <img (click)="vImage(image)" [src]="ip+'/getVehicle/'+image.vehicle_img_path"
                    alt="">
                <p class="numberPlate">{{image.lp}}</p>
                <p class="numberPlate">{{image.date}}</p>
                <p class="numberPlate">{{image.entry_time}}</p>
                <p class="numberPlate">{{image.exit_time}}</p>
                <p [style]="{'display': (this.editBtn==true)?'block':'none'}" (click)="edit(image)" class="edit">Edit</p>
                <!-- <p class="timestamp">{{this.image.timeStamp}}</p> -->
                <!-- <p class="timestamp">Any</p> -->
                <!-- </div> -->
            </div>
        <!-- <div class="dataContainer" *ngFor="let image of datas | paginate :{
            itemsPerPage:4,
            currentPage:page,
            totalItems:totalRecords }">
            <img src="{{image.imageUrl}}" alt="">
            <img src=" https://i.pinimg.com/564x/d0/19/df/d019df2153f04c8a0a1dd990e2706091.jpg" alt="">
            <p class="numberPlate">{{this.image.numberPlate}}</p>
            <p class="timestamp">{{this.image.timeStamp}}</p>
            <p class="timestamp">Any</p>
            <p [style]="{'display': (this.editBtn==true)?'block':'none'}" (click)="edit(image)" class="edit">Edit</p>
        </div> -->
    </div>
    <pagination-controls class="pageControls" (pageChange)="page= $event"></pagination-controls>
</ng-template>