.dataContainer {
  display: flex;
  flex-direction: row;
  width: 100vw;
  justify-content: space-around;
  align-items: center;
  border: 2px solid;
  margin: 10px 0;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 200px;
}
.start{
  margin: 10px 65px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
tr {
  display: flex;
  justify-content: space-around;
}
.dataContainer img {
  width: 100px;
  height: 100px;
  object-fit: contain;
}
.edit {
  cursor: pointer;
}
.modalContainer {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: space-around;
}
.modalBoxContainer {
  position: relative;
  /* justify-content: center; */
  align-items: center;
  top: 5%;
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 400px;
  padding: 10px;
  background: white;
  border-radius: 5px;
}
.modalBoxContainer img {
  width: 500px;
  height: 200px;
  object-fit: contain;
}
.done {
  width: 220px;
  border-radius: 3px;
  margin: 10px 0;
  background-color: #2b2e4d;
  color: white;
}

.controls {
  /* display: flex; */
  justify-content: space-between;
  width: 95%;
  /* position: absolute; */
}
.editinput {
  border-radius: 3px;
  border: #d9dadd 2px solid;
  outline: none;
  width: 220px;
  padding: 8px;
  background-color: rgb(241, 242, 247);
}
.previous {
  position: absolute;
  top: 40%;
  left: 2%;
}
.next {
  position: absolute;
  top: 40%;
  right: 2%;
}
.selector {
  display: flex;
  align-items: center;
}
.selector .four,
.two {
  padding: 7px 12px;
  background-color: #a8d5e5;
  border-radius: 3px;
  margin: 10px 2px;
  cursor: pointer;
}

fa-icon {
  font-size: 30px;
  cursor: pointer;
}

/* .selector .two {
  padding: 10px 8px;
  background-color: antiquewhite;
  border-radius: 3px;
  margin: 0px 2px;
} */

@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap");
.selector {
  display: flex;
  align-items: center;
}
.selector .four,
.two,
.addShowroom {
  padding: 7px 12px;
  background-color: #03a9f4;
  border-radius: 3px;
  margin: 10px 2px;
  cursor: pointer;
}

.dataContainer {
  display: flex;
  flex-direction: row;
  /* width: 100vw; */
  justify-content: space-around;
  align-items: center;
  margin: 10px 0;
  font-weight: bold;
  border: 2px solid #cfd4da;
  background: #f8f9fb;
  margin: 10px 0;
}
.dataContainer img {
  width: 100px;
  height: 100px;
  object-fit: container;
}

.selectorContainer {
  display: flex;
  justify-content: space-between;
}

a {
  text-decoration: none;
  color: white;
}

.adminContainer {
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  margin-bottom: 35px;
}
.modalContainer {
  width: 100%;
  min-height: 117%;
  position: absolute;
  z-index: 200;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
}
tr {
  display: flex;
  justify-content: space-around;
}
.modalBoxContainer {
  position: relative;
  /* left: 50%; */
  /* transform: translate(-50%, -50%); */
  display: flex;
  justify-content: center;
  align-items: center;
}
/* .modalBoxContainer img {
  width: 600px;
  height: 600px;
  object-fit: contain;
} */
.pageControls {
  position: fixed;
  left: 0px;
  bottom: 0px;
  height: 30px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  background: #f1f2f6;
}

fa-icon {
  font-size: 20px;
  margin-left: 10px;
}

img {
  cursor: pointer;
  object-fit: contain;
}

h3{
  margin-left: 60px;
}

.start{
  margin: 10px 65px;
  display: flex;
  justify-content: space-between;
}

button{
  width: 300px;
}

.startBtn{
  width: 100px;
  border: none;
  border-radius: 3px;
  color: white;
  padding: 6px 0;
  background-color: #7acd21;
  font-weight: bold;
}
th{
  width: 120px;
}

.headingContainer{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
p {
  flex-basis: 100px;
  flex-shrink: 0;
  flex-grow: 0;
  text-align: center;
}
