.addShowroomForm {
  display: flex;
  flex-direction: column;
  width: 100vw;
  align-items: center;
}

.addShowroomForm input {
  width: 500px;
  margin: 7px 0;
  border-radius: 3px;
}
h4 {
  text-align: center;
  margin-top: 10px;
}
button {
  border-radius: 3px;
  border: none !important;
  width: 150px;
}
.btnContainer {
  display: flex;
  justify-content: center;
}
