<!-- <div class="modalContainer " (click)="hideModle()" [ngStyle]="{'display': (showImg==true) ?'block' : 'none'}">
    <div class="modalBoxContainer">
        <img src="{{imgUrl}}" alt="">
    </div>
</div> -->
<app-sidebar2></app-sidebar2>
<div class="adminContainer">
    <app-header name="Admin"></app-header>
    <div (click)="hideModle($event)" [ngStyle]="{'display': (showImg=='true') ?'block' : 'none'}">
        <app-zoom imgUrl="{{imgUrl}}"></app-zoom>
    </div>
    <!-- <div class="adminSideBarContainer">
    
    </div> -->
    <div class="selectorContainer">
        <!-- <div class="selector">
            <p class="four">4 Wheeler</p>
            <p class="two">2 Wheeler</p>
        </div> -->
        <!-- <a routerLink='/results' class="addShowroom"> View Results <fa-icon [icon]="faPoll"></fa-icon></a>
        <a routerLink='/addCamera' class="addShowroom">Add Camera <fa-icon [icon]="faCameraRetro"></fa-icon></a>
        <a routerLink='/viewCamera' class="addShowroom"> View Cameras <fa-icon [icon]="faList"></fa-icon></a>
        <a routerLink='/account/addUser' class="addShowroom"> Add User <fa-icon [icon]="faList"></fa-icon></a> -->
        <!-- <button>Start ANPR</button> -->
    </div>
    <div class="start">
        <div class="row">
            <div class="col">
                <div ngbDropdown class="d-inline-block drop">
                    <button type="button" class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
                        {{showroomName}}
                    </button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                        <button (click)="showroom(this.name.name)" ngbDropdownItem
                            *ngFor="let name of this.names;index as i;">{{name.name}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="dataContainer" *ngFor="let image of this.datas;index as i;"> -->
    <!-- <div class="dataContainer"> -->
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Vehicle Img </th>
                <th scope="col">NoPlate Img </th>
                <th scope="col">Vehicle No</th>
                <th scope="col">Time</th>
                <th scope="col">Any</th>
            </tr>
        </thead>
    </table>

    <div class="dataContainer" *ngFor="let image of datas | paginate :{
    itemsPerPage:5,
    currentPage:page,
    totalItems:totalRecords }">

        <img (click)="bigImage(image)" src=" {{image.imageUrl}}" alt="">
        <img (click)="bigImage(image)" src=" https://i.pinimg.com/564x/d0/19/df/d019df2153f04c8a0a1dd990e2706091.jpg"
            alt="">
        <p class="numberPlate">{{this.image.numberPlate |uppercase }}</p>
        <p class="timestamp">{{this.image.timeStamp}}</p>
        <p class="timestamp">Any</p>
        <!-- </div> -->
    </div>

</div>
<pagination-controls class="pageControls" (pageChange)="page= $event"></pagination-controls>