<!-- <div class="modalContainer " (click)="hideModle()" [ngStyle]="{'display': (showImg==true) ?'block' : 'none'}">
    <div class="modalBoxContainer">
        <img src="{{imgUrl}}" alt="">
    </div>
</div> -->
<app-sidebar2 homepage="/admin" searchRoute="/admin/search" viewCameraRoute="/admin/viewCamera" resultsRoute="/admin/results"></app-sidebar2>
<div class="adminContainer">
    <app-header name="Admin"></app-header>
    <p class="error" [ngStyle]="{background:color}">{{check}}</p>
    <div (click)="hideModle($event)" [ngStyle]="{'display': (showImg=='true') ?'block' : 'none'}">
        <app-zoom imgUrl="{{imgUrl}}"></app-zoom>
    </div>
    <!-- <div class="adminSideBarContainer">
    
    </div> -->
    <div class="selectorContainer">
        <!-- <div class="selector">
            <p class="four">4 Wheeler</p>
            <p class="two">2 Wheeler</p>
        </div> -->
        <!-- <a routerLink='/results' class="addShowroom"> View Results <fa-icon [icon]="faPoll"></fa-icon></a>
        <a routerLink='/addCamera' class="addShowroom">Add Camera <fa-icon [icon]="faCameraRetro"></fa-icon></a>
        <a routerLink='/viewCamera' class="addShowroom"> View Cameras <fa-icon [icon]="faList"></fa-icon></a>
        <a routerLink='/account/addUser' class="addShowroom"> Add User <fa-icon [icon]="faList"></fa-icon></a> -->
        <!-- <button>Start ANPR</button> -->
    </div>
    <div class="start">
        <div class="row">
            <div class="col">
                <div ngbDropdown class="d-inline-block drop">
                    <button type="button" class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
                        {{showroomName}}
                    </button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                        <button (click)="showroom(this.name)" ngbDropdownItem
                            *ngFor="let name of this.names;index as i;">{{name}}</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="">
            <button class="startBtn" (click)="start()"
            [ngStyle]="{'background-color': (startANPR==true) ? '#7acd21' : 'red'}"
            >{{btnName}}</button>
        </div>
    </div>
    <!-- <div class="dataContainer" *ngFor="let image of this.datas;index as i;"> -->
    <!-- <div class="dataContainer"> -->
    <div class="headingContainer">
        <p scope="col">NumberPlate Image </p>
                <p scope="col">Vehicle Image </p>
                <p scope="col">Vehicle No</p>
                <p scope="col">Date</p>
                <p scope="col">Entry Time</p>
                <p scope="col">Exit Time</p>
    </div>

    <div class="dataContainer" *ngFor="let image of datas | paginate :{
    itemsPerPage:4,
    currentPage:page,
    totalItems:totalRecords }">

        <img (click)="bigImage(image)" [src]="ip+'/getNumberplate/'+image.NP_img_path" alt="">
        <img (click)="vImage(image)" [src]="ip+'/getVehicle/'+image.vehicle_img_path"
            alt="">
        <p class="numberPlate">{{image.lp}}</p>
        <p class="numberPlate">{{image.date}}</p>
        <p class="numberPlate">{{image.entry_time}}</p>
        <p class="numberPlate">{{image.exit_time}}</p>
        <!-- <p class="timestamp">{{this.image.timeStamp}}</p> -->
        <!-- <p class="timestamp">Any</p> -->
        <!-- </div> -->
    </div>

</div>
<pagination-controls class="pageControls" (pageChange)="page= $event"></pagination-controls>