<div class="addShowroomContainer">
    <!-- <app-header name="SuperAdmin"></app-header> -->
    <form class="addShowroomForm" [formGroup]="addUser">
        <h4>Add User </h4>
        <input type="text" name="" placeholder="User name" id="" formControlName="username">
        <input type="text" name="" placeholder="Email id" id="" formControlName="email">
        <input type="text" name="" placeholder="password" id="" formControlName="password">
        <input type="text" name="" placeholder="Showroom Name" id="" formControlName="showroomName">

        <button (click)="submitShowroomDetails()">Submit </button>
    </form>
    <div class="btnContainer">

    </div>
</div>
