.userContainer {
  margin: 0 65px;
}
.dataContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  border: 2px solid;
  margin: 10px 0;
}
.dataContainer img {
  width: 100px;
  height: 100px;
  object-fit: container;
}

.checker {
  display: flex;
  width: 150px;
  justify-content: space-around;
}
.correct,
.wrong {
  border: none;
  padding: 2px 5px;
  border-radius: 3px;
}

.wrong {
  background-color: #ffd3cc;
  color: #cc1a00;
}
.wrong:hover {
  background-color: #cc1a00;
  color: white;
}
.correct {
  background-color: #e4ffcc;
  color: #53b300;
}
.correct:hover {
  background-color: #3c8000;
  color: white;
}
.pageControls {
  position: fixed;
  left: 0px;
  bottom: 0px;
  height: 30px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  background: #f1f2f6;
}

.options{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10px 0;
}

.options a{
  text-decoration: none;
  padding: 10px ;
  width: 120px;
  color: white;
  background-color: #015ABA;
  border-radius: 3px;
  text-align: center;
}

@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap");
.selector {
  display: flex;
  align-items: center;
}
.selector .four,
.two,
.addShowroom {
  padding: 7px 12px;
  background-color: #03a9f4;
  border-radius: 3px;
  margin: 10px 2px;
  cursor: pointer;
}

.dataContainer {
  display: flex;
  flex-direction: row;
  /* width: 100vw; */
  justify-content: space-around;
  align-items: center;
  margin: 10px 0;
  font-weight: bold;
  border: 2px solid #cfd4da;
  background: #f8f9fb;
  margin: 10px 0;
}
.dataContainer img {
  width: 100px;
  height: 100px;
  object-fit: container;
}

.selectorContainer {
  display: flex;
  justify-content: space-between;
}

a {
  text-decoration: none;
  color: white;
}

.adminContainer {
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  margin-bottom: 35px;
}
.modalContainer {
  width: 100%;
  min-height: 117%;
  position: absolute;
  z-index: 200;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
}
tr {
  display: flex;
  justify-content: space-around;
}
.modalBoxContainer {
  position: relative;
  /* left: 50%; */
  /* transform: translate(-50%, -50%); */
  display: flex;
  justify-content: center;
  align-items: center;
}
.modalBoxContainer img {
  width: 600px;
  height: 600px;
  object-fit: contain;
}
.pageControls {
  position: fixed;
  left: 0px;
  bottom: 0px;
  height: 30px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  background: #f1f2f6;
}

fa-icon {
  font-size: 20px;
  margin-left: 10px;
}

img {
  cursor: pointer;
  object-fit: contain;
}

h3{
  margin-left: 60px;
}

.start{
  margin: 10px 65px;
  display: flex;
  justify-content: space-between;
}

button{
  width: 300px;
}

.startBtn{
  width: 100px;
  border: none;
  border-radius: 3px;
  color: white;
  padding: 6px 0;
  background-color: #7acd21;
  font-weight: bold;
}
th{
  width: 120px;
}

.headingContainer{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
p {
  flex-basis: 100px;
  flex-shrink: 0;
  flex-grow: 0;
  text-align: center;
}
.header{
  display: flex;
  justify-content: space-between;
  margin: 10px 10px;
}

