<ng-template #content let-offcanvas class="side">
    <div class="side">
	<div class="offcanvas-header">
		<div class="logo">
            <img src="../../../assets/logo.png" alt="">
            <h5>{{"DocketRun" | uppercase}}</h5>
        </div>
		<button type="button" class="btn-close" aria-label="Close" (click)="offcanvas.dismiss('Cross click')"></button>
	</div>
	<div class="offcanvas-body">
        <a routerLink='/results' class="addShowroom"> View Results <fa-icon [icon]="faPoll"></fa-icon></a>
        <a  *ngIf="show==true" routerLink='/addCamera' class="addShowroom">Add Camera <fa-icon [icon]="faCameraRetro"></fa-icon></a>
        <a routerLink='/viewCamera' class="addShowroom"> View Cameras <fa-icon [icon]="faList"></fa-icon></a>
	</div>
</div>
</ng-template>
<button class="btn" (click)="open(content)"> <fa-icon [icon]="arrow"></fa-icon></button>
